doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  link(href='/css/custom.css/custom.css', rel='stylesheet')
  title Product upload
header
  // nav starts here
  div(w3-include-html='/includes/navbar.html')
  // nav ends her
main
  .container.col-md-4
    .card.shadow(style='box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);')
      .card-body
        h2.card-title Upload Product
        form#regForm(name='register', method='POST', enctype="multipart/form-data" action='/product_edit?id='+product._id)
          fieldset
            legend Product Details
            .custom-file
              label.custom-file-label(for='product-image') Upload Product Image:
              input#product-image.custom-file-input(type='file', name='productimage' disabled)
            .form-group
              label(for='productname') Name of Product:
              input#productname.form-control(type='text', name='productname' value=product.productname disabled)
              small#productErr
            .form-group
              label(for='unit') Unit:
              input#unit.form-control(type='text', name='unit' placeholder="eg KG" value=product.unit disabled)
              small#unitErr
            .form-group
              label(for='ward') Represented Ward:
              select#ward.form-select(name='ward' value=product.ward)
                option(value='') Please select
                option(value='North') North
                option(value='East') East
                option(value='West') West
                option(value='South') South
              small#wardErr
            .form-group
              label(for='upload-date') Upload Date:
              input#upload-date.form-control(type='text', name='uploaddate', value=product.uploaddate, placeholder='Current Date', readonly='')
            script.
              let currentDate = new Date().toISOString().slice(0, 10);
              document.getElementById("upload-date").value = currentDate;
            .form-group
              label(for='unitprice') Unit Price:
              input#unit-price.form-control(type='number', name='unitprice' value=product.unitprice)
              small#priceErr
            .form-group
              label(for='quantity') Quantity:
              input#quantity.form-control(type='number', name='quantity' value=product.quantity)
              small#quantityErr
            div
              label(for='mode-of-payment') Mode of Payment:
              select#mop.form-select(name='modeofpayment' value=product.modeofpayment)
                option(value='') Please select
                option(value='Cash') Cash
                option(value='Mobile Money') Mobile Money
                option(value='Both') Both
              small#mopErr
            div
              label(for='deliverytype') Mode of Delivery:
              select#mod.form-select(name='modeofdelivery' value=product.modeofdelivery)
                option(value='') Please select
                option(value='Pick Up') Pick Up
                option(value='Home delivery') Home delivery
                option(value='Both') Both
              small#deliveryErr
            .form-group
              label(for='directions-to-farm') Directions to Farm:
              textarea#directions-to-farm.form-control(name='farmdirections' value=product.farmdirections)
              small#directionsErr
            .form-group
              label(for='produce-type') Produce Type:
              select#produce-type.form-select(name='producetype' disabled value=product.producetype)
                option(value='') Please select
                option(value='organic') Organic
                option(value='non-organic') Non-Organic
              small#produceErr
          button.btn.btn-success(type='submit') Update
  footer
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
script(src='/custom-js/custom.js')
  includeHTML()
